* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.background-viewport {
    background: url(images/strand1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
}

.nav-item {
    display: inline-flex;
    padding-top: 15px;
    justify-content: center;
    color: #FFF;
    font-size: 25px;
    flex-grow: 0;
    margin: 0 auto;
    flex-grow: 0;
}

.nav-item:hover {
    border-bottom: 5px solid rgb(173, 173, 173);
   }

.nav1 {
    border-bottom: 5px solid rgb(126, 125, 125);
}

/* .nav2 {
}

.nav3 {
}

.nav4 {
} */

.content-hero {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 20%;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

.main-img {
    width: 50%;
    height: 50vh;
    justify-content: center;
    align-self: center;
}

.main-text-right {
    background-color: #000;
    color: #FFF;
    width: 50%;
    height: 50vh;
    justify-content: center;
    text-align: justify;
    padding: 10px 50px;
    line-height: 30px;    
}

.main-text-left {
    background-color: #000;
    color: #FFF;
    width: 50%;
    height: 50vh;
    justify-content: center;
    text-align: justify;
    padding: 10px 50px;
    line-height: 30px;    
}