* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    padding: 0px;
    font-family: sans-serif;
    margin: 0px 200px;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-shrink: 1;
}

.background-viewport {
    background: url(images/strand1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
}


.nav-item {
    display: inline-flex;
    padding-top: 15px;
    justify-content: center;
    color: #FFF;
    font-size: 25px;
    flex-grow: 0;
    margin: 0 auto;
    flex-grow: 0;
}

.nav-item a {
    color: #FFF;
}

.nav-item:hover {
    border-bottom: 5px solid rgb(173, 173, 173);
   }

.nav1 {
    border-bottom: 5px solid rgb(126, 125, 125);
}

.nav-impressum a {
    color: #f0f0ee;
    align-srgb(212, 212, 211)ex-end;
}

.hero-wrapper {
    display: flex;
    flex: 1;
}

.content-hero {
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    overflow: hidden;
    flex-shrink: 1;
}

.img-smila {
    display: flex;
    justify-content: center;
    margin-right: 250px;
    width: 400px;
    height: 60vh;
    background: url(images/smila1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-fine {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    width: 400px;
    height: 60vh;
    background: url(images/fine1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-text-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#e5dabe;
    color: #FFF;
    align-self: flex-end;
    text-align: center;
    height: 10%;   
    flex-grow: 1;
}

.main-text-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#e5dabe;
    color: rgb(255, 255, 255);
    align-self: flex-top;
    text-align: center;
    height: 10%;   
    flex-grow: 1;
}

.wrap-2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.wrap-2 > .grid-img {
    display: grid;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#impressum {
text-align: left;
}